html,body{
    min-height: 100vh; 
    color: white;
    background-color: black;
    font-family: -apple-system,
  
    }
   .itemBlock1 {
    display: flex;
    padding-bottom: 20px;
   }
   .itemBlock1>div{
   padding-right:10px;
   padding-bottom: 20px;
   }
  .aboutItem{
    width:35%;
   }
   .itemTitle{
    font-size:24px;
   }
   .itemSubTitle{
    font-size:15px;
   }
   .itemSubTitle2{
    font-size:15px;
   }
   .headerDivider {
    border-right: 0.1px solid #7c7a7a; 
    height:auto;
    margin-left: 20px;
    margin-right: 20px;
    }
    a{
    color: white;
    text-decoration: none;
    }
    .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 20%;
    padding-right: 20%;
    }
    .promoCodeField{
    padding-right: 20px;
    }
    .itemQuantity{
    width: 20%;
    padding-left: 50px;
    }
    .itemDate{
        font-size:13px;
    }
    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: groove;
        background-color: black;
        
    }
    .no-outline:focus {
        outline: none;
    }
    .no-outline{
        color: white;
    }